<section id="viewMyPosts">
    <div class="post post-content">
        <h1>Your Posts</h1>
    </div>
    <div class="posts">
        {{#each myPosts}}
            <article class="post">
                <div class="col rank">
                    <span>1</span>
                </div>
                <div class="col thumbnail">
                    <a href="{{url}}">
                        <img src="{{imgUrl}}">
                    </a>
                </div>
                <div class="post-content">
                    <div class="title">
                        <a href="{{url}}">
                            {{title}}
                        </a>
                    </div>
                    <div class="details">
                        <div class="info">
                            submitted {{datestamp}} ago by {{author}}
                        </div>
                        <div class="controls">
                            <ul>
                                <li class="action"><a class="commentsLink" href="#/comments/:{{_id}}">comments</a></li>
                                <li class="action"><a class="editLink" href="#/edit/:{{_id}}">edit</a></li>
                                <li class="action"><a class="deleteLink" href="#/delete/:{{_id}}">delete</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="clear"></div>
            </article>
        {{else}}
            <p>No posts in database.</p>
        {{/each}}
    </div>
</section>